.about_container {
    background: linear-gradient(297deg, rgba(195,172,208,1) 24%, rgba(255,251,245,1) 76%);
    width: 100%;
    min-height:80vh;
    height: 100vh;
    position: relative;
    top: 6rem;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.about_content {
  text-align: center;
  font-size: 2rem;
  width:80%;
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient(128deg, rgba(136,8,208,1) 24%, rgba(37,108,251,1) 72%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.upload_head {
  font-family: "Dancing Script", cursive;
  font-size: 10rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  color: #7743db;
}
